@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22pt;
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 20pt);
}

.option-container {
	background: hsla(207, 26%, 16%, 0.75);
	border-radius: 1vh;
	margin-left: 0.6vh;
	margin-bottom: 0.75vh;
	padding: 0.6vh 0.8vh;
	display: flex;
	align-items: center;
	padding-left: 1vh;
	padding-right: 1.1vh;
	height: 1.8vh;
	transition: all 0.2s ease-in;
}

.option-container:hover {
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 0.7) 0%,
    rgba(30, 30, 30, 0.6) 66%,
    rgba(57, 58, 63, 0) 100%
  );
  transform-origin: left top;
  color: white;
  margin-left: 4pt;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
}

.option-label {
  	list-style: none;
	font-size: 1.2vh;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	color: white;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;
	line-height: 1.3vh;
	padding-left: 0.2vh;
}
